<div class="container" style="background-color:aliceblue">
  <div *ngIf="politics">

      <h2 style="text-align: center; color:navy; background-color: lightgrey">Politics</h2>
      <h3 style="text-align: center">BJP's staggering near 50% vote share in Uttar Pradesh indicates change in usual caste politics, party's influence across communities</h3>
      <p>Usually, the rest of India looks down on Uttar Pradesh, which I believe is quite unfair. In many parts of the country, the migrant natives of Uttar Pradesh are tormented by local politics. In places like Maharashtra and Gujarat, where people from Uttar Pradesh have done really well
         as hardworking contributors to the economy, they have been manhandled in the past..</p>
      <p><a href="https://www.firstpost.com/politics/bjps-staggering-near-50-vote-share-in-uttar-pradesh-indicates-change-in-usual-caste-politics-partys-influence-across-communities-6572711.html">more</a></p>
      
  </div>

  <div *ngIf="economy">
      <h2 style="text-align: center; color:navy; background-color: lightgrey">Economy</h2>
      <h3 style="text-align: center">WORLD ECONOMIC SITUATION AND PROSPECTS 2019</h3>
      <p>Global growth is expected to remain at 3.0 per cent in 2019 and 2020, however, the steady pace of expansion in the global economy masks an increase in downside risks that could potentially exacerbate development challenges in many parts of the world, according to the World Economic Situation and Prospects 2019.  The global economy is facing a confluence of risks, which could severely disrupt economic activity and inflict significant damage on longer-term development prospects. These risks include an escalation of trade disputes, 
        an abrupt tightening of global financial conditions, and intensifying climate risks.</p>
        <p>
            In many developed countries, growth rates have risen close to their potential,
             while unemployment rates have dropped to historical lows. Among the developing economies, the East and
              South Asia regions remain on a relatively strong growth trajectory, amid robust domestic demand conditions.
            </p>
              <p>
                  Beneath the strong global headline figures, however, economic progress has been highly uneven across regions.
                  Despite an improvement in growth prospects at the global level, several large developing countries saw a decline in per 
                  capita income in 2018. Even among the economies that are experiencing strong per capita income growth, economic activity 
                  is often driven by core industrial and urban regions, leaving peripheral and rural areas behind. While economic activity in the commodity-exporting countries, notably fuel exporters, is gradually recovering, growth remains susceptible to volatile commodity prices. For these economies, the sharp drop in global commodity prices in 2014/15 has continued to weigh on fiscal and external balances, while leaving a legacy of higher levels of debt.
   
              </p> 
             
       
      <p><a href="https://www.un.org/development/desa/dpad/publication/world-economic-situation-and-prospects-2019/">more info</a></p>
      
  </div>

  <div *ngIf="others">
      <h2 style="text-align: center; color:navy;background-color: lightgrey">Entertainment</h2>
      <h3 style="text-align: center">Football: Klopp to 'wait and see' on Salah head injury, Firmino to miss Barca clash </h3>
      <p>NEWCASTLE, United Kingdom (AFP) - Liverpool's Mohamed Salah was stretchered off with a head knock during the 3-2 win at Newcastle on Saturday (May 4) leaving manager Jurgen Klopp sweating on the Egyptian's fitness ahead of Tuesday's Champions League clash with Barcelona.

          And Klopp will definitely be without another of his prolific attacking trident with Roberto Firmino ruled out due to a groin injury.
          
          Liverpool face a monumental task to overturn a 3-0 first leg deficit against Barca if they are to reach the Champions League final for the second consecutive season.
        </p>
      <p>
          Salah was caught by Newcastle goalkeeper Martin Dubravka as they challenged for an aerial ball 20 minutes from time at St. James' Park.
          "We'll have to see. He took a blow to the head. He watched the game in the locker room, he was OK, but we have to do more tests," Klopp told Sky Sports.
          Firmino was not involved on Saturday and Klopp confirmed he will miss Barca's visit.</p>
          
         <p>
            "He will not be ready for Tuesday and the rest we will see," said the German on the possibility Firmino could be fit for Liverpool's final league game of the season against Wolves on May 12.
          
            Salah had earlier scored his 26th goal of the season to put Liverpool 2-1 in front, before Salomon Rondon levelled early in the second-half to make it 2-2.
            
            Divock Origi then headed Liverpool's late winner as the Reds went back to the top of the Premier League.
         </p> 
     
          <p><a href="https://www.un.org/development/desa/dpad/publication/world-economic-situation-and-prospects-2019/">more info</a></p>
      
  </div>
 </div>
